test_hit/
test_hit_2/
.hit_test/
hit_command

node_modules/
dist/
.next/
.env

.DS_Store

.env.local

tsconfig.tsbuildinfo

local-data

/react

.cursorrules

env/

.env.development
.env.production

uploads/

package-test/

websocket-test/